<div>
    <h2>
        <span jhiTranslate="paisNaEscolaApp.secretaria.home.title">Secretarias</span>
        <button class="btn btn-primary float-right jh-create-entity create-secretaria" [routerLink]="['/', { outlets: { popup: ['secretaria-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="paisNaEscolaApp.secretaria.home.createLabel">
            Create new Secretaria
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="secretarias">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="usuario.nome"><span jhiTranslate="paisNaEscolaApp.secretaria.usuario">Usuario</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="escola.id"><span jhiTranslate="paisNaEscolaApp.secretaria.escola">Escola</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let secretaria of secretarias ;trackBy: trackId">
                <td><a [routerLink]="['../secretaria', secretaria.id ]">{{secretaria.id}}</a></td>
                <td>
                    <div *ngIf="secretaria.usuario">
                        <a [routerLink]="['../usuario', secretaria.usuario?.id ]" >{{secretaria.usuario?.nome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="secretaria.escola">
                        <a [routerLink]="['../escola', secretaria.escola?.id ]" >{{secretaria.escola?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../secretaria', secretaria.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'secretaria/'+ secretaria.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'secretaria/'+ secretaria.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="secretarias && secretarias.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
